class ApiKeys {
  // Midtrans Configuration
  // Get your keys from: https://dashboard.midtrans.com/settings/config_info
  static const String midtransClientKey = 'YOUR_MIDTRANS_CLIENT_KEY';
  static const String midtransServerKey = 'YOUR_MIDTRANS_SERVER_KEY';
  static const bool midtransIsProduction = false; // false = Sandbox, true = Production
  
}
